body {
    font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
    font-size: 62.5%;
}

#world {
    width:512px;
}

#worldMap {
    width:512px;
    height:512px;
    margin-bottom:10px;
    border: 1px white solid;
    padding: 1px;
    background-color:black;
}

.column {
    float:left;
    width:300px;
}

#menu {
    width:150px;
}
#users {
    width:150px;
}

#appViewport {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#header {
    text-align:center;
}

h1 {
    /*display: inline-block;
    margin-right:20px;*/
    margin: 7px 0 10px 0;
    text-align:center;
    font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
}

h2 {
    /*display: inline-block;*/
    margin: 0 0 10px 0;
    font-style: italic;
    font-weight: lighter;
    text-align:center;
    font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif;
}

tr.odd {
    color: rgb(0, 0, 0);
}

tr.even {
    color: rgb(0, 0, 0);
}

#worldpop {
    margin-top: 20px;
}